# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
env/
venv/
ENV/
*.env
*.egg-info/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Pip cache
pip-log.txt
pip-delete-this-directory.txt

# Virtualenv
.venv/

# dotenv
.env
